<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	    version="3.0">

    <display-name>ChemHelper</display-name>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>
	<!-- Map all errors to Spring MVC handler method. See CustomErrorController.generalError() -->
	<!--<error-page>-->
    	<!--<location>/generalError</location>-->
	<!--</error-page>-->

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:mvc-core-config.xml
            classpath:spring-security-config.xml
            classpath:hdiv-config.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Hdiv Init Listener -->
    <listener>
        <listener-class>org.hdiv.listener.InitListener</listener-class>
    </listener>

    <!-- Hdiv Validator Filter -->
    <!--<filter>-->
        <!--<filter-name>ValidatorFilter</filter-name>-->
        <!--<filter-class>org.hdiv.filter.ValidatorFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>ValidatorFilter</filter-name>-->
        <!--&lt;!&ndash; Spring MVC Servlet name&ndash;&gt;-->
        <!--<servlet-name>ChemHelper</servlet-name>-->
    <!--</filter-mapping>-->

    <!-- Spring security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ChemHelper</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:mvc-core-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChemHelper</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <session-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/tlds/hdiv-c.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>